<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="backFragments/head :: head"/>

<body id="page-top">
<div th:replace="backFragments/navigation :: navi"/>
<div id="wrapper">
  <div th:replace="backFragments/sidebar :: sidebar" class="sidebar"/>

  <div id="content-wrapper">

    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a th:href="@{/dashboard}">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Lista filmów</li>
      </ol>
      <hr>
      <div class="card mb-3">
        <div th:if="${#lists.isEmpty(movies)}">
          Brak filmów w bazie danych
        </div>
        <div th:if="${not #lists.isEmpty(movies)}">
          <div class="card-header"><i class="fas fa-table"></i>
            Lista Filmów</div>
          <div class="card-body">
            <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
            <tr>
              <th>Tytuł</th>
              <th>Kategoria wiekowa</th>
              <th>Reżyser</th>
              <th>Edytuj</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
              <th>Tytuł</th>
              <th>Kategoria wiekowa</th>
              <th>Reżyser</th>
              <th>Edytuj</th>
            </tr>
            </tfoot>
            <tbody>
            <tr th:each="movie : ${movies}">
              <td th:text="${movie.title}"/>
              <td th:text="${movie.ageCategory}"/>
              <td th:text="${movie.director}"/>
              <td><a id="edit-movie" style="text-decoration: none black" th:href="${'/dashboard/'+movie.id}">Edytuj</a></td>
            </tr>
            </tbody>
          </table>
              </div>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
          </div>
        </div>
        </div>
        <!-- /.container-fluid -->
      </div>
    </div>
<div th:replace="backFragments/footer :: footer"></div>
</body>
</html>