<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
    <head>
    </head>
    <body>
        <!-- Footer -->
        <div th:fragment="footer">
            <footer class="bg-primary small text-center text-white-50">
                <div class="container">
                    Copyright &copy; Spring Cinema Web App by Tomasz Glonkowski & Hubert Piątkowski
                </div>
            </footer>

            <!-- Bootstrap core JavaScript -->
            <script src="vendor/jquery/jquery.min.js"></script>
            <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

            <!-- Plugin JavaScript -->
            <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

            <!-- Custom scripts for this template -->
            <script src="js/grayscale.min.js"></script>
        </div>
    </body>
</html>