<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="backFragments/head :: head"/>

<body id="page-top">
<div th:replace="backFragments/navigation :: navi"/>
<div id="wrapper">
    <div th:replace="backFragments/sidebar :: sidebar" class="sidebar"/>

    <div id="content-wrapper">

        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a th:href="@{/dashboard}">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Repertuar</li>
            </ol>
            <hr>
            <div th:if="${deleted} != null" class="alert alert-info" role="alert" th:text="${deleted}"></div>
            <div th:if="${added} != null" class="alert alert-success" role="alert" th:text="${added}"></div>

            <!-- DataTables Example -->
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0" th:action="@{/dashboard/screenings}" method="post">
                        <div class="input-group">
                            <label for="timelineDate">Wybierz datę: </label>
                            <input type="date" th:value="${timelineDate}" th:field="${timelineDate}" class="form-control" id="timelineDate" name="timelineDate" placeholder="Wybierz datę" aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fas fa-calendar-alt"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
                <br/>
                <div th:if="${not #lists.isEmpty(screenings)}"><div class="table-responsive">
                    <table class="table table-bordered" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Godzina</th>
                            <th>Tytuł</th>
                            <th>Długość</th>
                            <th>Sala</th>
                            <th>Ilość miejsc</th>
                            <th>Zajęte miejsca</th>
                            <th>Usuń</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><a th:href="@{/dashboard/screenings/add}">Dodaj film</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                </div>
                <div th:if="${#lists.isEmpty(screenings)}"><div class="table-responsive">
                        <table class="table table-bordered" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Godzina</th>
                                <th>Tytuł</th>
                                <th>Długość</th>
                                <th>Kategoria wiekowa</th>
                                <th>Sala</th>
                                <th>Ilość miejsc</th>
                                <th>Zajęte miejsca</th>
                                <th>Usuń</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>Godzina</th>
                                <th>Tytuł</th>
                                <th>Długość</th>
                                <th>Kategoria wiekowa</th>
                                <th>Sala</th>
                                <th>Ilość miejsc</th>
                                <th>Wolne miejsca</th>
                                <th>Usuń</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            <tr th:each="screening : ${screenings}">
                                <td th:text="${screening.time}"/>
                                <td th:text="${screening.movie.getTitle()}"/>
                                <td th:text="${screening.movie.getDuration()}"/>
                                <td th:text="${screening.movie.getAgeCategory()}"/>
                                <td th:text="${screening.cinemaRoom.getName()}"/>
                                <td th:text="${screening.cinemaRoom.getSeats().size()}"/>
                                <td th:text="${screening.getFreeSeats().size()}"/>
                                <td><a id="delete-screening" style="text-decoration: none black" th:href="${'/dashboard/screenings/delete'+screening.sid}">Usuń</a></td>
                            </tr>
                            <tr>
                                <td><a th:href="@{/dashboard/screenings/add}">Dodaj film</a></td>
                            </tr>
                            </tbody>
                        </table>
                </div>
        </div>
        <!-- /.container-fluid -->
    </div>
</div>
<!--<form><input type="hidden" name="hiddenTimelineDate" th:fieldth:value="${timelineDate}"></form>-->
<div th:replace="backFragments/footer :: footer"></div>
    </div>
</div>
</body>
</html>