<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SpringCinema - Panel Logowania</title>

  <!-- Bootstrap core CSS-->
  <link th:href="@{/dashboard/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

  <!-- Custom fonts for this template-->
  <link th:href="@{/dashboard/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template-->
  <link th:href="@{/dashboard/css/sb-admin.css}" rel="stylesheet">

</head>

  <body class="masthead">
    <div class="container" id="vh">
      <div class="card-transparent card-login mx-auto force-middle">
        <div class="card-header font-weight-bold font-black-transparent">SpringCinema - Panel Logowania</div>
        <div class="card-body">
            <form name="login" th:action="@{/login}" method="post">
              <div th:if="${param.error}">
                <div class="alert alert-danger">
                  Niepoprawny e-mail lub hasło!
                </div>
              </div>
                <div class="form-group">
                <input type="email" name="email" class="form-control-transparent" placeholder="Adres e-mail" required="required" autofocus="autofocus">
                </div>
                <div class="form-group">
                <input type="password" name="password" class="form-control-transparent" placeholder="Hasło" required="required">
              </div>
                <div class="form-group">
            <button type="submit" class="btn-red btn-primary-red btn-block">Zaloguj</button>
                </div>
          </form>
          <div class="text-center">
            <a class="d-block small font-weight-bold font-blue-transparent" th:href="@{/login}">Logowanie</a>
            <a class="d-block small font-weight-bold font-blue-transparent" href="forgot-password.html">Zapomniałeś hasła?</a>
            <a class="d-block small font-weight-bold font-blue-transparent" th:href="@{/}">Powrót</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script th:src="@{/dashboard/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/dashboard/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Core plugin JavaScript-->
    <script th:src="@{/dashboard/vendor/jquery-easing/jquery.easing.min.js}"></script>

  </body>

</html>
