<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SpringCinema - Rejestracja</title>

    <!-- Bootstrap core CSS-->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin.css" rel="stylesheet">

  </head>

  <body class="bg-dark">

    <div class="container">
      <div class="card card-register mx-auto mt-5">
        <div class="card-header">Rejestracja</div>
        <div class="card-body">
          <form th:action="@{/register}" method="post" th:object="${user}">
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-6">
                    <input type="text" th:field="*{name}" id="firstName" class="form-control" placeholder="Imię" required="required" autofocus="autofocus">
                </div>
                <div class="col-md-6">
                    <input type="text" th:field="*{lastName}" id="lastName" class="form-control" placeholder="Nazwisko" required="required">
                </div>
              </div>
            </div>
            <div class="form-group">
                <input type="email" th:field="*{email}" id="inputEmail" class="form-control" placeholder="Adres e-mail" required="required">
            </div>
            <div class="form-row">
            <div class="form-group">
                <div class="col-md-12">
                  <div th:if="${passwdMismatch==true}" class="alert alert-danger">Hasła nie są identyczne!</div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-6">
                    <input type="password" th:field="*{password}" id="inputPassword" class="form-control" placeholder="Hasło" required="required">
                </div>
                <div class="col-md-6">
                    <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" placeholder="Powtórz hasło" required="required">
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Załóż konto</button>
          </form>
          <div class="text-center">
            <a class="d-block small mt-3" href="/login">Logowanie</a>
            <a class="d-block small" href="forgot-password.html">Zapomniałeś hasła?</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script th:src="@{/dashboard/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/dashboard/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Core plugin JavaScript-->
    <script th:src="@{/dashboard/vendor/jquery-easing/jquery.easing.min.js}"></script>
  </body>

</html>
