<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="frontFragments/head :: head"/>

  <body id="page-top">

    <!-- Navigation -->
    <nav th:replace="frontFragments/navigation :: navigation"/>

    <!-- Header -->
    <header class="masthead">
      <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
          <h1 class="mx-auto my-0 text-uppercase">Spring Cinema</h1>
          <h2 class="text-white-50 mx-auto mt-2 mb-5">Cinema Web Application</h2>
          <a href="#repertuar" class="btn btn-primary js-scroll-trigger">Repertuar</a>
        </div>
      </div>
    </header>

    <!-- About Section -->
    <section id="repertuar" class="screening-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-white mb-4">REPERTUAR NA NAJBLIŻSZE DNI</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="space10">
            <ul class="nav nav-pills">
              <li><a class="nav-link active" data-toggle="pill" href="#today">Poniedziałek</a></li>
              <li><a class="nav-link" data-toggle="pill" href="#menu1">Wtorek</a></li>
              <li><a class="nav-link" data-toggle="pill" href="#menu2">Nigdy</a></li>
            </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col mx-auto">
            <div class="tab-content">
              <div id="today" class="tab-pane active">
                <table class="container screening-table">
                  <thead>
                  <tr>
                    <th class="col-4"><h1>Tytuł</h1></th>
                    <th class="col-1"><h1>Kategoria wiekowa</h1></th>
                    <th class="col-1"><h1>Godzina</h1></th>
                    <th class="col-1"><h1>Długość</h1></th>
                    <th class="col-1"><h1>Opis</h1></th>
                    <th class="col-1"><h1>Wolne miejsca</h1></th>
                    <th class="col-1"><h1>Bilet</h1></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td class="col-4">Killer</td>
                    <td class="col-1">A18</td>
                    <td class="col-1">15:15</td>
                    <td class="col-1">1h04m</td>
                    <td class="col-1"><a href="#linkdofilmu">Pokaż</a></td>
                    <td class="col-1">32</td>
                    <td class="col-1"><a href="#linkdobiletow">KUP</a></td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div id="menu1" class="tab-pane fade">
                <table class="container screening-table">
                  <thead>
                  <tr>
                    <th class="col-4"><h1>Tytuł</h1></th>
                    <th class="col-1"><h1>Kategoria wiekowa</h1></th>
                    <th class="col-1"><h1>Godzina</h1></th>
                    <th class="col-1"><h1>Długość</h1></th>
                    <th class="col-1"><h1>Opis</h1></th>
                    <th class="col-1"><h1>Wolne miejsca</h1></th>
                    <th class="col-1"><h1>Bilet</h1></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td class="col-4">Killer</td>
                    <td class="col-1">A18</td>
                    <td class="col-1">15:15</td>
                    <td class="col-1">1h04m</td>
                    <td class="col-1"><a href="#linkdofilmu">Pokaż</a></td>
                    <td class="col-1">32</td>
                    <td class="col-1"><a href="#linkdobiletow">KUP</a></td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div id="menu2" class="tab-pane fade">
                <table class="container screening-table">
                  <thead>
                  <tr>
                    <th class="col-4"><h1>Tytuł</h1></th>
                    <th class="col-1"><h1>Kategoria wiekowa</h1></th>
                    <th class="col-1"><h1>Godzina</h1></th>
                    <th class="col-1"><h1>Długość</h1></th>
                    <th class="col-1"><h1>Opis</h1></th>
                    <th class="col-1"><h1>Wolne miejsca</h1></th>
                    <th class="col-1"><h1>Bilet</h1></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td class="col-4">Killer</td>
                    <td class="col-1">A18</td>
                    <td class="col-1">15:15</td>
                    <td class="col-1">1h04m</td>
                    <td class="col-1"><a href="#linkdofilmu">Pokaż</a></td>
                    <td class="col-1">32</td>
                    <td class="col-1"><a href="#linkdobiletow">KUP</a></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- Projects Section -->
    <section id="about" class="projects-section">
      <div class="container">

        <!-- Featured Project Row -->
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
          <div class="col-xl-8 col-lg-7">
            <img class="img-fluid mb-3 mb-lg-0" src="img/bg-masthead.jpg" alt="">
          </div>
          <div class="col-xl-4 col-lg-5">
            <div class="featured-text text-center text-lg-left">
              <h4 class="text-white">Spring Cinema</h4>
              <p class="text-white-50 mb-0">Opis projektu + technologie + costam czego nie wymysliłem.</p>
            </div>
          </div>
        </div>

        <!-- Project One Row -->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
          <div class="col-lg-6">
            <img class="img-fluid" src="img/demo-image-01.jpg" alt="">
          </div>
          <div class="col-lg-6">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-left">
                  <h4 class="text-white">Hubert Piątkowski</h4>
                  <p class="mb-0 text-white-50">Krótki tekst o mnie.</p>
                  <hr class="d-none d-lg-block mb-0 ml-0">
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Project Two Row -->
        <div class="row justify-content-center no-gutters">
          <div class="col-lg-6">
            <img class="img-fluid" src="img/demo-image-02.jpg" alt="">
          </div>
          <div class="col-lg-6 order-lg-first">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-right">
                  <h4 class="text-white">Tomasz Glonkowski</h4>
                  <p class="mb-0 text-white-50">Krótki tekst o mnie.</p>
                  <hr class="d-none d-lg-block mb-0 mr-0">
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>

    <!-- Cinema logo Section -->
    <div class="cinema-section">
    </div>

    <!-- Contact Section -->
    <section id="contact" class="contact-section bg-primary">
      <div class="container">

        <div class="row">

          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <img src="img/man.png"/>
                <h4 class="text-uppercase m-0">Tomasz</h4>
                <hr class="my-4">
                <a href="https://www.linkedin.com/in/tomasz-glonkowski/"><div class="text-black-50">LinkedIn</div></a>
                <a href="https://github.com/tglonkowski/"><div class="text-black-50">GitHub</div></a>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <img src="img/github.png"/>
                <h4 class="text-uppercase m-0">Projekt</h4>
                <hr class="my-4">
                <a href="https://github.com/hpiatkowski/SpringCinema"><div class="text-black-50">SpringCinema</div></a>
              </div>
            </div>
          </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <img src="img/man.png"/>
              <h4 class="text-uppercase m-0">Hubert</h4>
              <hr class="my-4">
              <a href="https://www.linkedin.com/in/hubertpiatkowski/"><div class="text-black-50">LinkedIn</div></a>
              <a href="https://github.com/hpiatkowski/"><div class="text-black-50">GitHub</div></a>
            </div>
          </div>
        </div>
      </div>

      </div>
    </section>

    <!-- Footer -->
    <div th:replace="frontFragments/footer :: footer"></div>

  </body>

</html>
