<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head th:replace="backFragments/head :: head"/>
<body id="page-top">
<div th:replace="backFragments/navigation :: navi"/>
<div id="wrapper">
    <div th:replace="backFragments/sidebar :: sidebar" class="sidebar"/>

    <div id="content-wrapper">

        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a th:href="@{/dashboard}">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Sale kinowe</li>
            </ol>
            <hr>
            <div th:if="${edited} != null" class="alert alert-info" role="alert" th:text="${edited}"></div>
            <div th:if="${added} != null" class="alert alert-success" role="alert" th:text="${added}"></div>
            <div th:if="${#lists.isEmpty(allRooms)}">
                <div class="table-responsive">
                        <table class="table table-bordered" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nazwa sali</th>
                                <th>Ilość miejsc</th>
                                <th>Edycja</th>
                            </tr>
                            </thead>
                            <tbody>
                                <div th:if="${#httpServletRequest.getParameter('action')=='add'}">
                                    <tr><form th:action="@{/dashboard/cinemaroom}" method="post" th:object="${newRoom}">
                                        <td></td>
                                        <td><input type="text" class="form-control" th:field="*{name}" required="true"/></td>
                                        <td><input type="text" class="form-control" name="newSeatCount"  maxlength="3" pattern="[0-9]{1,3}" required="true"/></td>
                                        <td><button type="submit" class="btn btn-primary btn-block">Dodaj</button></td>
                                    </form>
                                    </tr>
                                </div>
                                <div th:if="${not (#httpServletRequest.getParameter('action')=='add')}">
                                    <tr>
                                        <td></td>
                                        <td><a th:href="@{/dashboard/cinemaroom(action=add)}">Dodaj salę</a></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </div>
                            </tbody>
                        </table>
                </div>
            </div>
                <div th:if="${#lists.size(allRooms)>0}">
                    <div class="card mb-3">
                        <div class="card-header"><i class="fas fa-couch"></i>Sale kinowe</span></div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th class="col-1">ID</th>
                                    <th class="col-5">Nazwa sali</th>
                                    <th class="col-3">Ilość miejsc</th>
                                    <th class="col-3">Edycja</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>ID</th>
                                    <th>Nazwa sali</th>
                                    <th>Ilość miejsc</th>
                                    <th>Edycja</th>
                                </tr>
                                </tfoot>
                                    <tbody>
                                        <tr th:each="room : ${allRooms}">
                                            <td th:text="*{room.id}"/>
                                            <td th:text="*{room.name}"/>
                                            <td th:text="*{room.seats.size()}"/>
                                            <td><a style="text-decoration: none black" th:href="${'/dashboard/cinemaroom/editRoom'+room.id}">Edytuj</a></td>
                                        </tr>
                                    <div th:if="${#httpServletRequest.getParameter('action')=='add'}">
                                        <tr><form th:action="@{/dashboard/cinemaroom}" method="post" th:object="${newRoom}">
                                            <td></td>
                                            <td><input type="text" class="form-control" th:field="*{name}" required="true"/></td>
                                            <td><input type="text" class="form-control" name="newSeatCount" maxlength="3" pattern="[0-9]{1,3}" required="true"/></td>
                                            <td><button type="submit" class="btn btn-primary btn-block">Dodaj</button></td>
                                        </form>
                                        </tr>
                                    </div>
                                    <div th:if="${not (#httpServletRequest.getParameter('action')=='add')}">
                                        <tr>
                                            <td></td>
                                            <td><a th:href="@{/dashboard/cinemaroom(action=add)}">Dodaj salę</a></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </div>

                                    </tbody>
                            </table>
                            </div>
                        </div>
                        <div class="card-footer small text-muted">Sale kinowe</div>
                    </div>
                </div>
            </div>
        </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /.content-wrapper -->
    </div>
    <!-- /#wrapper -->
    <div th:replace="backFragments/footer :: footer"/>
</div>
</body>
</html>